<form method="post" action="{{ path('app_cart_delete', {'id': cart.id}) }}" onsubmit="return confirm('Are you sure you want to delete this cart?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cart.id) }}">
    <button class="btn btn-danger">
        <i class="bi bi-trash"></i> Delete
    </button>
</form>