{% extends 'base.html.twig' %}

{% block title %}New Cart{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Create New Cart</h1>

    <div class="card shadow">
        <div class="card-body">
            {{ include('cart/_form.html.twig', {'button_label': 'Save Cart'}) }}
        </div>
    </div>

    <div class="mt-4 text-center">
        <a href="{{ path('app_cart_index') }}" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Back to list
        </a>
    </div>
</div>
{% endblock %}