# config/services.yaml
parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    # Inject UserRepository into UserAuthenticator
    App\Security\UserAuthenticator:
        arguments:
            $userRepository: '@App\Repository\UserRepository'
